[hidden] { display: none !important; }

.header {
  @media (max-width: 768px) {
    display: none;
  }
  height: 60px;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: #312a48;
  box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.16);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s ease-in-out;
}

.project-title {
  font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
  font-size: 2rem;
  margin-right: 20px;
  margin-bottom: 0px;
  letter-spacing: -1px;
  color: orange;
}

.mainframe {
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: hidden;
  height: 30px;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: mintcream;
    cursor: pointer;
  }
}

.nav-icon-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
    position: fixed;
  }

.sub-menu {
  margin-left: 60px;
  width: 500px;
  display: fixed;
}

.navIcon {
  font-size: 22px;
  transition: all 0.2s ease-in-out;
}

.navItemText {
  white-space: nowrap;
  margin-left: 65px;
  margin-right: auto;
  letter-spacing: 0.2px;
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
}

.relative-frame {
  display: relative;
}

.nav-menu {
  @media (max-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-bottom: 15px;
    position: fixed;
  }
  @media (min-width: 769px) {
    &:hover {
      width: 12rem;
    }
  }
  flex-direction: column;
  z-index: 100;
  width: 3.5rem;
  background-color: #d1e8e3;
  transition: all 0.2s ease-in-out;
  padding-top: 15px;
}

.rotate {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.transition-ease {
  transition: all 0.2s ease-in-out;
}

.hamburger-frame {
  transition: all 0.2s ease-in-out;
  width: 3.5rem;
  height: 3.5rem;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #868e96;
  font-size: 20px;
  &:hover {
    background-color: #e5fdff;
  }
}

.open-menu-margin {
  margin-left: 8.5rem;
}

.menu-open {
  width: 12rem;
  @media (max-width: 768px) {
    width: 100%
  }
}

.menu-closed {
  width: 3.5rem;
  @media (max-width: 768px) {
    width: 100%
  }
}

.clear-menu {
  @media (max-width: 768px) {
    padding-top: 65px;
  }
}

.nav-item {
  @media (max-width: 768px) {
    width: 50px;
    .sub-menu {
      display:none;
    }
    &:hover {
       width: 100%;
      .sub-menu {
        display: inline-block;
      }
    }
  }
}